body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content{
    border: 5px solid red;
    display: flex;
   
    /* height: 500px; */
    /* flex-direction: column; */
    
      max-width: 1200px;
    /* ############## justify-content: space-around; ##########*/
     /* flex-direction: row-reverse ; */
     /* align-items: flex-start; */
     
    /* align-items: center;
    justify-content: space-between; */
}
.main{
    border: 2px solid green;
    /* width: 100%; */
   /* text-align: center; */
   width: 200px;
   flex-grow: 2;
   
}
.first{
    background: lightslategrey;
    /* align-self: flex-start; */
}
.second{
    background: lightgoldenrodyellow;
    order: 3;
    
}
.third{
    background: lightgreen;
    /* align-self: flex-end; */
}
.fourth{
    background: lightcoral;
}

/* ################ main axis(left to right)################ */

/* ################ cross axis(top to bottom)############### */

/* ################# justify content ######################## */

/* ######################align item ########################## */

/* ######################align content ########################## */

/* ######################align self ########################## =====> reapeat on align-item */

/* ###################### order ########################## */

/* ###################### flex-basis ########################## ====> width (increase length towards main axix)*/ 

/* ###################### flex-grow ########################## */

/* ############### flex:flex-grow flex-shrink , flex-basis ############### */