
/* 
@media (max-width:500px){
    html{
        font-size: 5px;
    }
    body{
        background: lightcoral;
    }
}
@media (min-width:501px) and (max-width:750px){
    body{
        background: blueviolet;
    }
} */
*{
    box-sizing: border-box;
}
.box{
    border: 2px solid black;
}
.first{
    float: left;
    width: 48%;
    background: #ccc;
    padding: 10px;
}
.second{
    float: right;
    width: 48%;
    background: #ccc;
    padding: 10px;
}
.box::after{
    content: '';
    display: block;
    clear: both;
}

@media(max-width:1024px){
    .first, .second{
        float: none;
        width: 100%;
        margin-bottom: 1rem;
    }
}

